ec2/ssw
ec2/tide
lambda/*.zip
lambda/*.json
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.out
paper/*.pdf
paper/*.log
paper/*.thm
data/*
*__pycache__
*.pem
jupyter
*.ropeproject
json/private*
json/ec2*
nature_results/ChorusAccessLog.csv
scripts/crux-output*
scripts/*.index
scripts/*.csv
scripts/*.mzML
tests/fastore
tests/ssw
tests/tide
tests/spacenet
