ec2/lambda_simulations
ec2/simulations
ec2/spacenet
ec2/ssw
ec2/tide
lambda/*.zip
lambda/*.json
.mypy_cache
nature_results
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.out
paper/*.pdf
paper/*.log
paper/*.thm
data/*
*.png
*__pycache__
*.pem
*.json
jupyter
*.ropeproject
json/private*
json/ec2*
nature_results/ChorusAccessLog.csv
results
scripts/crux-output*
scripts/data_counts
scripts/*.index
scripts/*.csv
scripts/*.mzML
spacenet_data
tests/fastore
tests/ssw
tests/tide
tests/spacenet
